body {
    margin: 0;
    padding: 0px 50px;
    font-family: monospace;
    background: #f5f7fb;
    color: #1B1B1B;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 3.5rem;
}

body > p {
    text-align: center;
    color: #555;
    margin-bottom: 40px;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

form button {
    margin-top: auto;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
    margin-top: 50px;
}

.card {
    background: white;
    border-radius: 18px;
    padding: 25px;
    min-height: 200px;
    border: 2.5px solid #e6e9ef;

    display: flex;
    flex-direction: column;

    transition: transform .25s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    margin: 0 0 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.6rem;
}

.card p {
    margin: 0 0 18px;
    color: #666;
    line-height: 1.5;
    font-size: 1rem;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    margin-bottom: 18px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #96A3EB;
}

input[type="file"]::file-selector-button {
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;

    background: #b8b8b8;
    color: white;

    cursor: pointer;
    font-family: inherit;
    transition: .2s;
}

input[type="file"]::file-selector-button:hover {
    background: #9c9c9c;
}

.card button {
    margin-top: auto;

    width: 100%;
    padding: 13px;

    border: none;
    border-radius: 10px;

    background: linear-gradient(135deg,#ED3491 0%,#6A5CFF 50%,#00BABC 100%);

    color: white;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: filter .2s, transform .15s;
}

.card button:hover {
    filter: brightness(1.09);
}

.card button:active {
    transform: scale(.98);
    filter: brightness(0.9);
}