body {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    background: rgb(236, 241, 252);
    color: #1B1B1B;
}

header {
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    padding: 20px 50px;

}

header > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    padding: 0.5rem 0;
}

.logo {
    font-size: 7.5rem;
    margin: 0;
    line-height: 0.8;

    color: #ffffff;

    background-image: linear-gradient(135deg, #ED3491 0%, #6A5CFF 50%, #00BABC 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    color: #ffffff;
}

h1 {
    text-align: left;
    font-size: 3rem;
    margin: 0px;
    line-height: 1;

    color: #ffffff;

    background-image: linear-gradient(135deg, #ED3491 0%, #6A5CFF 50%, #00BABC 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    color: #00BABC;
}

.desc {
    text-align: left;
    color: #ffffff;
    margin: 0;
    font-size: 0.95rem;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

form button {
    margin-top: auto;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.cards {
    padding: 0px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    background: white;
    border-radius: 18px;
    padding: 25px;
    min-height: 200px;
    border: 2.5px solid #d5d5d5;

    display: flex;
    flex-direction: column;

    transition: transform .25s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 0px;
    font-size: 1.6rem;
}

.card hr {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0px;
    border: none;
    border-radius: 9999px;
    height: 2px;
    width: 60%;
    background: linear-gradient(
        90deg,
        #ED3491,
        #6A5CFF,
        #00BABC
    );

    background: #00BABC;
}

.card p {
    margin: 0 0 18px;
    color: #666;
    line-height: 1.5;
    font-size:14px;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    margin-bottom: 18px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #96A3EB;
}

input[type="file"]::file-selector-button {
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;

    background: #b8b8b8;
    color: white;

    cursor: pointer;
    font-family: inherit;
    transition: .2s;
}

input[type="file"]::file-selector-button:hover {
    background: #858585;
}

.card button {
    margin-top: auto;

    width: 100%;
    padding: 13px;

    border: none;
    border-radius: 10px;

    background: linear-gradient(135deg,#ED3491 0%,#6A5CFF 50%,#00BABC 100%);
    background: #6A5CFF;
    background: linear-gradient(135deg,#ED3491 0%, #6A5CFF 25%, #6A5CFF 75%,#00BABC 100%);
    background: #1b1b1b;

    color: white;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: filter .2s, transform .15s;
}

.card button:hover {
    filter: brightness(1.09);
}

.card button:active {
    transform: scale(.98);
    filter: brightness(0.9);
}